body {
    background-color: #96cada;
    font-family: 'Nunito', sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 200;
}

.blurb h2 {
    color: red;
    font-weight: 200;
    font-size: 2.5rem;
}

.blurb p {
    color: #5d99ca;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2.0;
}

.content {
    margin-top: 100px;   
}

#mainNavbar .navbar-brand {
    color: red;
    font-size: 1.5rem;
    font-weight: 300;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: red;
}

#headingGroup span {
    color: red;
}

#headingGroup h1 {
    font-weight: 300;
    font-size: 3rem;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 300;
        font-size: 2rem;
    }
}

.navbar.scrolled {
    background-color: rgba(50, 50, 50, 0.9);
    transition: background 500ms;
}